*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600&family=Rubik:ital,wght@0,300;0,400;0,700;1,300&display=swap');
body{
	font-family: 'Rajdhani', sans-serif;;
}
p{
	font-family: 'Rubik', sans-serif;
}
.container-full{
	width: 100%;
	margin: 0 auto;
}
.container-full::before{
	

}
.container-full::after{
	

}
.container{
	width: 1200px;
	margin: 0 auto;
}

.container::before{

}
.container::after{
	content: "";
	display: table;
	clear: both;

}
.col-25{
	width: 25%;
	float: left;
	padding: 0 15px;
}
.col-30{
	width: 30%;
	float: left;
	padding: 0 15px;
}
.col-33{
	width: 33.33%;
	float: left;
	padding: 0 15px;
}
.col-20{
	width: 20%;
	float: left;
	padding: 0 15px;
}
.col-60{
	width: 60%;
	float: left;
	padding: 0 15px;
}
.col-40{
	width: 40%;
	float: left;
	padding: 0 15px;
}
.col-20{
	width: 20%;
	float: left;
	padding: 0 15px;
}
.col-50{
	width: 50%;
	float: left;
	padding: 0 15px;
}

/* css start */

.col-60{
	width: 60%;
	float: left;
	padding: 0 15px;
}
.col-50{
	width: 50%;
	float: left;
	padding: 0 15px;
}
.col-20{
	width: 20%;
	float: left;
	padding: 0 15px;
}
.col-15{
	width: 15%;
	float: left;
	padding: 0 15px;
}
.col-100{
	width: 100%;
	float: left;
	/* padding: 0 15px; */
}
img{
	width: 100%;
	height: 100%;
}
.section-padding{
	padding-top: 100px;
	padding-bottom: 100px;
}
/* top-header css start */
.top-header{
	background-color: #0E0A38;
	padding: 12px 0;
	color: #fff;
	
}
.search-box{
	position: relative;
}
.search-box input{
	background-color: #27234c;
	border: none;
	padding:  15px 40px 15px 15px;
	color: #fff;
	border-radius: 5px;
}
.search-box i{
	position: absolute;
	right: 60px;
	top: 15px;
	opacity: .5;
	cursor: pointer;
}

.social-icon{
	list-style: none;
}
.social-icon li{
	display: inline-block;
}
.social-icon li a{
	color: #fff;
	margin: 10px 10px;
	display: inline-block;
	transition: .3s;
	line-height: 28px;
	font-size: 15px;
}
.social-icon li a:hover{
	color: #fe630e;
	
}
.email-number{
	float: right;
	font-size: 15px;
	padding-top: 10px;
}
.email-number span{
	margin-left: 20px;
	font-size: 15px;
	font-family: 'Rubik', sans-serif;
	font-weight: 300;
}
.email-number span i{
	padding-right: 5px;
}
/* top-header css end */
/* main header css start */
.header{
	
	padding: 13px 0;
}
.logo{
	display: inline-block;
}
.logo img{
	display: inline-block;
	width: 100%;
	height: 100%;
}
.main-menu{
	list-style: none;
	float: right;
	padding: 15px 0;

}
.main-menu li{
	display: inline-block;
	margin-left: 20px;
}
.main-menu li a{
	text-decoration: none;
	font-size: 19px;
	font-weight: 700;
	color: #130F40;
	text-transform: capitalize;
	transition: .3s;
}
.main-menu li a:hover{
	color: #fe630e;
}
.cart{
	position: relative;
}
.cart::before{
	content: "0";
	position: absolute;
	height: 20px;
	width: 20px;
	background-color: #fe630e;
	color: #fff;
	border-radius: 50%;
	text-align: center;
	top: -12px;
	right: -12px;
	font-size: 12px;
	line-height: 20px;


}
.login{
	float: left;
	border-radius: 5px;
	background-color: #fe630e;
	margin: 10px 0;
}
.login a{
	
	font-size: 16px;
	font-weight: 300;
	text-decoration: none;
	font-family: 'Rubik', sans-serif;
	color: #fff;
	padding: 10px 18px;
	display: inline-block;
	text-transform: capitalize;
	float: left;
	
}
.login a:hover{
	color: #130F40;
	
	
}



/* main header css end */
/* home css start */
.home{
	background-image: url(./img/banner-6.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 200px 0;
	position: relative;
	z-index: 1;

}
.home::before{
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #050133C4;
	left: 0;
	top: 0;
	z-index: -1;

}
.home-content{
	color: #fff;
	text-align: center;
}
.home-content h5{
	color: #FE620D;
	font-size: 20px;
	font-weight: 600;
	line-height: 30px;
	text-transform: uppercase;
}
.home-content h1{
	font-size: 70px;
	color: #fff;
	line-height: 80px;
	font-weight: 700;
	text-transform: capitalize;
	margin-bottom:10px 0 20px 0;
}
 .home-content p{
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
	font-size: 17px;
	line-height: 30px;
	
 }
 .btn{
	 font-size: 16px;
	 letter-spacing: 1px;
	 text-transform: uppercase;
	 background: #ffffff;
	 color: #FF630E;
	 padding: 20px 30px;
	 display: inline-block;
	 border-radius: 5px;
	 margin: 15px;
 }
 .btn:hover , .btn-active{
	 color: #fff;
	 background-color: #FF630E;
 }

 a{
	 text-decoration: none;
	 display: inline-block;
 }
/* home css end */

/* CATEGORIES css start */
.section-title{
	text-align: center;
	padding-bottom: 50px;
}
.section-title span{
	font-size: 16px;
	color: #FF630E;
	font-weight: 600;
	text-transform: uppercase;
}
.section-title h2{
	font-size: 45px;
	color: #130F40;
	font-weight: 600;
	text-transform: uppercase;
	padding-top: 15px;
}
.ctg-single{
	text-align: center;
	padding: 15px;
	transition: 0.5s;
	border-radius: 5px;
	
	box-shadow: 0px 0px 15px 0px rgb(51 51 51 / 10%);
	
}
.ctg-single:hover{
	box-shadow: -4px 4px 20px -1px rgba(0,0,0,0.64);

}
.ctg-single img{
	border-radius: 10px;
	margin-top: -10px;
}
.ctg-single h3 a{
	color: #130F40;
	font-size: 24px;
	text-transform: capitalize;
	transition: 0.5s;
	margin: 10px 0;
}
.ctg-single h3 a:hover{
	color: #FE620D;
}
.ctg-single span{
	font-family: Rubik, sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #696969;
	line-height: 28px;
	padding-bottom: 10px 0;
	display: inline-block;
}
.ctg-btn{
	text-align: center;
	padding-top: 30px;
	
}
.ctg-btn a{
	font-size: 16px;
	font-weight: 600;
	line-height: 26px;
	color: #ffffff;

}
.ctg-btn a:hover{
	background-color:#130F40 ;
	
}
/* CATEGORIES css end */
/* courses css start */
.courses-single{
	margin-top: 20px;
	border-radius: 10px;
	transition: 0.5s;
	box-shadow: 0px 0px 15px 0px rgb(51 51 51 / 10%);
}
.courses-single:hover{
	box-shadow:  -4px 4px 20px -1px rgba(0,0,0,0.64);
}
.courses-single a img {
	border-radius: 10px 10px 0px 0px;
}
.courses-details{
	padding: 30px 35px 30px 35px;
	
	

}
.price{
	color: #ff630e;
	font-size: 24px;
	font-weight: bold;
	line-height: 28px;
	margin-bottom: 10px;
}
.courses-details h3 a{
	font-size: 24px;
	line-height: 34px;
	color: #130F40;
	font-weight: bold;
	padding-bottom: 10px;
	font-weight: bold;
	
}
.courses-details h3 a:hover{
	color: #ff630e;	
}
.review-div i{
	
	color: #F4C150;
	font-size: 15px;
}
.review-div span{
	font-weight: 800;

}
.review-div{
	
	border-bottom: 0.2px solid #696969;
	padding-bottom: 20px;
}
.time{
	padding-top: 15px;
	display: flex;
	color: #696969;
	align-items: center;
	justify-content: space-between;
}

/* courses css end */
/* offer css start */
.offer{
	background-color: #130F40;
	padding-bottom: 100px;
	margin-top: 100px;
	background-image: url(./img/bg-2.png);
	background-repeat: no-repeat;
	background-size: cover;
	
}
.offer-left{
	height: 700px;
}
.offer-left img{
	border: 10px solid #FFFFFF;
	border-radius: 10px;
}
.offer-right{
	padding: 80px 0;
	background-color: #130F40;
}
.offer-right h6{
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 600;
	color: #ff630e;
}
.offer-right h3{
	font-size: 45px;
	text-transform: capitalize;
	letter-spacing: 1px;
	font-weight: 700;
	color: #fff;
	line-height: 55px;
	padding: 30px 0 30px 0;
}
.offer-right p{
	font-size: 15px;
	
	letter-spacing: 1px;
	
	color: #fff;
	line-height: 28px;
}
.counter{
	padding: 50px 0;
}
.counter li{
	color: #fff;
	font-size: 36px;
	font-weight: 700;
	display: inline-block;
	padding-right: 70px;
}
.counter span{
	font-size: 14px;
	font-weight: 300;
	display: block;
	text-transform: capitalize;
	text-align: center;

}
.offer-event{
	margin-top: -100px;
	background-color: #130F40;
	border-radius: 10px;
	padding: 0 !important;

}
.offer-event .col-40{
	padding: 0 !important;
}
/* offer css end */
/* TESTIMONIAL css start    */
.testimonial-single{
	padding: 35px;
	border-radius: 10px;
	transition: 0.5s;
	box-shadow: 0px 0px 15px 0px rgb(51 51 51 / 10%);
	margin-top: 50px;

}
.testimonial-single:hover{
	box-shadow:  -4px 4px 20px -1px rgba(0,0,0,0.64);
}
.testimonial-single span{
	font-size: 40px;
	line-height: 40px;
	color: #fe630e;
	
}
.testimonial-single span i{
	padding-bottom: 20px;
}
.testimonial-review{
	color: #f39c12;
	font-size: 16px;
	line-height: 16px;
	padding-bottom: 20px;
}
.testimonial-review i{
	display: inline-block;


}
.testimonial-single p{
	color: #696969;
	font-size: 16px;
	line-height: 28px;
	font-family: Rubik, sans-serif;
	padding-bottom: 20px;
}
.testimonial-img img{
	width: 70px;
	border-radius: 50px;
	display: inline-block;
	margin-right: 15px;

}
.testimonial-info{
	display: flex;
	flex-direction: column;
}
.testimonial-info h4{
	font-size: 20px;
	line-height: 20px;
	text-align: left;
	color: #130f40;
}
.testimonial-info span{
	color: #696969;
	font-size: 16px;
	text-align: left;
	line-height: 28px;
}
.testimonial-footer{
	display: flex;

	align-items: center;

}
.top-card{
	margin-top: -50px;
}
/* TESTIMONIAL css end */
/* subscribe css start */
.subscribe-div{
	padding: 50px;
	background-color: #0F1549;
	background-image: url(./img/bg-1.png);
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50px;
	
	
}
.subscribe-content h2{
	font-size: 45px;
	line-height: 50px;
	color: #ffffff;
	font-weight: 700;

}
.subscribe-content{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}
.subscribe-search {
	display: flex;
}
.subscribe-search .email{
		height: 55px;
		padding: 0px 0px 0px 25px;
		border-radius: 6px 0px 0px 6px;
		font-family: "Rajdhani", Sans-serif;
		font-size: 16px;
		font-weight: 500;
		width: 320px;
		border: none;
	
}
.subscribe-search .button{
	font-family: "Rajdhani", Sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 26px;
    letter-spacing: 1px;
    background-color: #FF630E;
    border-radius: 0px 6px 6px 0px;
	padding: 15px 20px 14px 20px;
	border: none;
	color: #ffffff;
}
/* subscribe css end */
/* choosearea css start */
.choose-us{
	padding: 10px;
}
.choose-us h2{
	color: #130F40;
	font-size: 45px;
	line-height: 55px;
	text-align: left;
	font-weight: 800;
	margin-bottom: 15px;
}
.choose-us p{
	font-size: 16px;
	line-height: 28px;
	text-align: left;
	font-family: 'Rubik', sans-serif;
	margin-bottom: 20px;
}
.icon-chose{
	display: flex;
	margin-bottom: 30px;
	margin-top: 10px;
	
}
.icon-chose i{
	font-size: 50px;
	color: #fe630e;
	margin-right: 15px;


}
.chose-btn{
	font-size: 16px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #FF630E;
	padding: 15px 30px;
	display: inline-block;
	border-radius: 5px;
	
	transition: 0.5s;
}

.chose-btn:hover{
	color: #fff;
	background-color: #130F40;
}

.icon-content h4{
	color: #130F40;
	font-size: 24px;
	line-height: 34px;
	font-weight: bold;
	margin-bottom: 20px;
}.icon-content p{
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	color: #696969;
}

/* choosearea css end */
/* instructor css start */

.trainer{
	background-color: #f6f6f6;
	text-align: center;
}
.trainer-single{
	background-color: #fff;
	padding: 10px;
	border-radius: 10px;
	text-align: center;
	transition: .5s;
}
.trainer-single:hover{
	box-shadow:  -4px 4px 15px -1px rgba(0,0,0,0.64);
}
.trainer-img-1{
	background-image: url(./img/instructor/instructor-1-1.jpg);
}
.trainer-img-2{
	background-image: url(./img/instructor/instructor-3.jpg);
}
.trainer-img-3{
	background-image: url(./img/instructor/instructor-4-1.jpg);
}
.trainer-img-4{
	background-image: url(./img/instructor/instructor-2-1.jpg);
}
.trainer-img{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 300px;
	position: relative;
	border-radius: 10px;
}
.trainer-social{
	position: absolute;
	bottom: 0;
	background-color: #fe630e;
	padding: 14px;
	color: #fff;
	left: 25px;
	opacity: 0;
	transition: .5s;
	border-radius: 5px;
}
.trainer-social li {
	display: inline-block;
	padding: 0 12px;
}
.trainer-social li a{
	display: inline-block;
	color: #fff;
	font-size: 18px;
	
}
.trainer-social li a:hover{
	color:#130f40;
}
.trainer-single:hover .trainer-social{
	opacity:1 ;
	bottom: 20px;
}
.trainer-single h3{
	font-size: 24px;
	line-height: 34px;
	color: #130f40;
	font-weight: 800;
	padding-top: 25px;
}
.trainer-single span{
	font-size: 15px;
	line-height: 26px;
	color: #696969;
	font-weight: 500;
	font-family: 'Rubik', sans-serif;
	margin-bottom: 25px;
}
.instructor-content{
	margin-bottom: 20px;
}
/* instructor css end */
/* blog css start */
.blog-single{
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0px 0px 15px 0px rgb(51 51 51 / 10%);
	transition: 0.5s;
}
.blog-single:hover{
	box-shadow:  -4px 4px 20px -1px rgba(0,0,0,0.64);
}
.blog-content{
	padding: 30px 40px 20px 40px;
}
.blog-content ul{
	margin-bottom: 13px;
}
.blog-content ul li{
	display: inline-block;
	margin-right: 15px;
}
.blog-content ul li a{
	color: #696969;
	font-size: 18px;
	line-height: 28px;
	font-weight: 500;
	
}
.blog-content ul li a i{
	color: #fe630e;
	transition: .5s;
}
.blog-content ul li a:hover{
	color:#ff630e;
}
.blog-content h3 a{
	font-size: 25px;
	line-height: 34px;
	color: #130F40;
	font-weight: bold;
	transition: .5s;
	
}
.blog-content h3{
	margin-bottom: 15px;
}
.blog-content h3 a:hover{
	color: #fe630e;
}
.blog-content p{
	font-size: 16px;
	line-height: 28px;
	color: #696969;
	font-weight: 400;
	font-family: 'Rubik', sans-serif;
}
/* blog css end */
/* footer css start */
.footer{
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: #130f40;
	color: #fff;
	border-bottom: 0.1px solid #dedede;
}
.footer-title a img{
	max-width: 160px;
}
.footer-title a{
	margin-bottom: 20px;
}
.footer-title p{
	font-size: 16px;
	line-height: 28px;
	color: #dedede;
	font-weight: 400;
	margin-bottom: 17px;
}
.follow-us h5{
	color: #ffff;
	font-size: 20px;
	line-height: 20px;
	font-weight: 700;
	margin-bottom: 15px;
	font-family: 'Rubik', sans-serif;
}
.follow-us ul{
	display: inline-block;

}
.follow-us ul li{
	display: inline-block;
	margin-right: 10px;
}
.follow-us ul li a{
	font-size:18px;
	color: #fff;
	transition: 0.5s;
}
.follow-us ul li a:hover{
	color: #ff630e;
}
.categories1{
	padding-left: 50px;
}
.footer-title-name{
	font-size: 20px;
	line-height: 30px;
	color: #ffffff;
	font-weight: 700;
	margin-bottom: 20px;
}
.categories1 ul{
	display: flex;
	flex-direction: column;
}
.categories1 ul li{
	list-style: none;
	margin-bottom: 15px;
}
.categories1 ul li a{
	color: #ffffff;
	font-size: 16px;
	line-height: 28px;
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
	transition: 0.5s;
}
.categories1 ul li a:hover{
	color: #fe6511;
}
.categories1 ul li a i{
	color: #fe6511;
}
.recent-post-1{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;

}
.post-img-1 img{
	width: 100px;
	height: 100px;
	border-radius: 10px;
	
}
.post-img-1{
	margin-right: 20px;
}
.recent-post-content h5 a{
	font-size: 15px;
	line-height: 25px;
	font-weight: 700;
	color: #ffffff;
	transition: 0.5s;

}
.recent-post-content h5{
	margin-bottom: 10px;
}
.recent-post-content span{
	font-size: 15px;
	line-height: 20px;
	color: #dedede;
	font-weight: 600;
}
.recent-post-content h5 a:hover{
	color: #ff630e;
}
.contact-us ul li{
	margin-bottom: 20px;
	list-style: none;
	
}
.contact-us ul li a i{
	color: #fe630e;
	font-size: 30px;
	line-height: 30px;
	font-weight: 900;
	
}
.contact-us ul li a span{
	
	font-size: 16px;
	line-height: 28px;
	color: #dedede;
	font-weight: 400;
	font-family: 'Rubik', sans-serif;
}
	/* footer css end */
	/* footer-bottom css start */
.footer-bottom{
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #0E0A38;
	font-size: 16px;
	line-height: 24px;
	font-family: 'Rubik', sans-serif;
	color:#dedede;
}
	/* footer-bottom css end */